---
---
<p class="article"><strong>Antonín Král</strong> &mdash; Geek, maker and investor.</p>
<p class="col gap-1 xl-row xl-gap-2 article top">
  <span><a href="https://www.linkedin.com/in/kralant/">LinkedIn</a></span>
  <span class="xl-only">&bull;</span>
  <span><a href="https://github.com/bobek">GitHub</a></span>
  <span class="xl-only">&bull;</span>
  <span><a href="https://twitter.com/kralant">Twitter</a></span>
  <span class="xl-only">&bull;</span>
  <span><a rel="me" href="https://social.bobek.cz/@bobek">Mastodon</a></span>
  <span class="xl-only">&bull;</span>
  <span><a href="mailto:hello@bobek.cz">hello@bobek.cz</a></span>
  <%# <span class="xl-only">&bull;</span>
  <span><a href="https://keybase.io/bobek">PGP Public</a></span> %>
  <span class="xl-only">&bull;</span>
  <span><a href="/feed.xml">RSS Feed</a></span>
</p>

<hr/>

<div class="article col gap-3 justify">
  <h1>Bio</h1>
    <ul>
      <li>Worked at <b>CERN</b>, Brookhaven Nation Laboratory (<b>BNL</b>), <b>RIKEN</b> and received Ph.D. in applied mathematics.</li>
      <li>Co-founded <b>Recombee</b> -- Recommendation as a service startup.</li>
      <li>Founded <b>nibbler.AI</b> -- Machine Learning and Computer Vision startup.</li>
      <li>Built <b>MoistureGuard</b> -- the new IoT platform for monitoring behavior of the wooden buildings.</li>
      <li>Built <b>Showmax</b>, scaled the Engineering from 0 to 100 people. Navigated Showmax through IPO (un-bundling) process. This resulted in Showmax being part of newly created MultiChoice Group (MCG) listing on Johannesburg Stock Exchange.</li>
      <li>Built <b>nangu.TV</b> -- IPTV white-label system for Telcos.</li>
    </ul>
</div>

<hr/>

<div class="col gap-3">
  <h1>Posts</h1>
  <% page_articles('blog').reject { |a| a.data.unlisted }[0..10].each do |article| %>
    <a href="<%= article.url %>" class="row gap-2">
      <span class="faded date"><%= article.date.strftime('%b %e') %></span>
      <strong><%= article.title %></strong>
      <div class="faded"><%= article.data.subtitle%></div>
    </a>
  <% end %>
  <a href="/blog" class="row gap-2">
    <span class="faded date">&nbsp;</span>
    <strong>More Posts...</strong>
  </a>
</div>

<hr/>

<div class="col gap-3">
  <h1>Weekend Long Read Suggestions</h1>
  <% page_articles('long-reads').reject { |a| a.data.unlisted }[0..10].each do |article| %>
    <a href="<%= article.url %>" class="row gap-2">
      <span class="faded date"><%= article.date.strftime('%b %e') %></span>
      <strong><%= article.title %></strong>
      <div class="faded"><%= article.data.subtitle%></div>
    </a>
  <% end %>
  <a href="/long-reads" class="row gap-2">
    <span class="faded date">&nbsp;</span>
    <strong>More Posts...</strong>
  </a>
</div>

<hr/>

<div class="article col gap-3 justify">
  <h1>Highlights</h1>
    <ul>
      <li><a href="/jan-munz">Deník <strong>Jana Münze</strong></a><div class="faded">Unikátní pohled do života prvorepublikového chlapce z Příbrami. Jan neměl šanci jej dokončit.</div></li>
    </ul>
</div>

<hr/>

<div class="article col gap-3 justify">
  <!-- <p><a href="https://tech.showmax.com"><strong>Showmax</strong></a> is a video streaming business.</p> -->
  <h1>Publikace Jaroslavy Králové</h1>
    <ul>
      <li><a href="/funeralni-symbolika">Funerální symbolika v pohádkách a mýtech</a> (<a href="https://github.com/bobek/funeralni_symbolika">GitHub</a>)</li>
      <li><a href="/kvetiny-v-pohadkach-mytech-legendach">Květiny v pohádkách, mýtech a legendách</a> (<a href="https://github.com/bobek/kvetiny_v_pohadkach_mytech_legendach">GitHub</a>)</li>
      <li><a href="/promena-symbolu-mediciny-v-case">Proměna symbolů medicíny v čase</a> (<a href="https://github.com/bobek/promena_symbolu_mediciny_v_case">GitHub</a>)</li>
      <li><a href="/vanocni-svatky-a-jejich-symboly">Vánoční svátky a jejich symboly</a> (<a href="https://github.com/bobek/vanocni_symboly">GitHub</a>)</li>
      <li>Slidy k přednášce <a href="/static/BezmocaNadeje/BezmocaNadeje.html">Bezmoc, beznaděj, naděje
pomáhajícího odborníka</a> (<a href="/static/BezmocaNadeje.pdf">PDF</a>)</li>
    </ul>
</div>

<!--
<hr>

<div class="col gap-3">
  <h1>Misc Notes</h1>
  <% sitemap.resources.select {|r| r.destination_path =~ /^notes\//}.select {|r| r.data.published != false}.sort_by {|r| r.data.updated}.reverse.each do |resource| %>
    <a href="<%= resource.url %>" class="row gap-2">
      <span class="faded date"><%= resource.data.updated.strftime('%b %e') %></span>
      <strong><%= resource.data.title %></strong>
    </a>
  <% end %>
</div>
-->

