---
---

<h1>Weekend Long-Read Suggestions Archive</h1>

<div class="col gap-3">
  <p class="faded"><%= page_articles('long-reads').reject { |a| a.data.unlisted }.length %> posts across <%= page_articles('long-reads').reject { |a| a.data.unlisted }.group_by {|a| a.date.strftime('%Y')}.length %> years</p>
  <% page_articles('long-reads').reject { |a| a.data.unlisted }.group_by {|a| a.date.strftime('%Y')}.each do |year, articles| %>
    <h2><%= year %></h2>
    <% articles.each do |article| %>
      <a href="<%= article.url %>" class="row gap-2">
        <span class="faded date"><%= article.date.strftime('%b %e') %></span>
        <strong><%= article.title %></strong>
        <div class="faded"><%= article.data.subtitle%></div>
      </a>
    <% end %>
  <% end %>
</div>
